/* app css stylesheet */

.menu {
  background: black;
  color: #fff;
  font-weight: bold;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding:   0.5em 0;
} 
.menu > li {
  display: inline;
} 

.img-circle {
  border-radius: 50%;
} 
float-left {
  float: left;
}
 
.blocks .btn-primary 
{
    margin: 24px 12px;  
}

.blocks {border-spacing:5px;}

.btn-back{
  color: #fff;}

.media-body {
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.media, .content {
  margin:0 20px;
}